body{
background-color:white;

}

header{

    background-color: white;
    height: 240px;
    width: 100%;
    border-bottom: 1px solid palevioletred;
    transform: none;

}

header h1{
font-family: cursive;
color: lightgrey;
font-size: 2em;
display: block;
margin: 0 auto;
 text-align: center;


}
header .imgBack{
height:0 auto;
width:40%;
display: block;
/* margin: 0 auto; */
margin-left: 120px;
margin-bottom: 5px;
padding-top: 10px;
padding-left: 5px;
}

.imgBack{

    border-radius: 120px;
}

#City{
width:0 auto;
background-color: white;
}

h2 ,h3,h4{
    font-family: cursive;
    color:palevioletred;
    font-size: 1.1em;
    display: block;


}
section .cityImg{
    height:0 auto;
    width:200px;
    display: block;
    padding-right: 5px;
    }
    .cityImg{

        border-radius: 20px;

    }



table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;

    padding: 8px;
}
th{
  color: grey;
}

tr:nth-child(even) {background-color: #f2f2f2;}












/* Desktop       10000  720 */
@media only screen and (min-width:464px){
.container{
width: 90%;
margin:0 auto;
padding-top:5px;

}
header{
     padding-bottom: 4px;
    border-bottom: 1px solid palevioletred;
}
/*.row {


 width: 20%;
 display: block;
}*/


header .imgBack{

    width:180px;

    padding-top: 3px;
    overflow: hidden;

    }

    header h1{
   padding-bottom: 15px;

    }
    h2 ,h3,h4{
        font-size: 1.2em;
        text-align: center;
        padding-top: 10px;
        padding-left: 10px;

    }

    #City{
padding-bottom: 15px;

    }
    section .cityImg{

        width:200px;
        margin-left: 5px;
   padding-top: 5px;
        padding-left: 10px;
        }

.row .cityImg{

  width: 200px;
}
.Historical{

  width: 30.33%;
  float: left;
  overflow: hidden;
}
.Historical img{
  float: left;
  padding: 5px;
  margin: 4px;
  overflow: hidden;
}

.BoxHistorical{

  position: relative;
  width: 100%;

}
.BoxHistorical{

  overflow: hidden;
}
.BoxHistorical p{
margin: 0;
margin-left: 0;
padding-top: 5px;
padding-left: 12px;
text-align: justify;


}

      /* #Castle,#church,#slave_lodge{

      width:200px;
      margin-top: -5px;
      padding-left: 2px;
      margin-left:  2px;

}


#GoodHope{
margin-right: 3px;

float: left;
} */
/* .Place{
vertical-align: top;
display: inline-block;
width: 28%;
padding-top: 10px;
padding-left: 10px;

   overflow: hidden;
} */


/* .foat-img{
    float:left;
    margin-top: 10px;
    margin-right: 10px;
   padding-right: 10px;
    overflow: hidden;
} */
h3{
text-align: left;

}
h4{
text-align: center;

}


/*#historicalPlace .box p {
float: left;
width: 13%;
padding: 5px;

}
#historicalPlace .box img{
margin-bottom: 2px;
margin-left: 10px;
width: 16%;

}*/

#City .row img  {
    float: left;
    margin-bottom: 2px;
    margin-left: 8%;
    width: 260px;
}
 /*#city .box p{
float:left;
width: 10%;
padding: 5px;
border-radius: 1px solid black;
 }*/
 .row p {
    padding-left: 10px;
    padding-top: 2px;
   width: 35%;
   display: block;
text-align: center;
}
.row p{
     padding-top: 0;
    float: left;
}

.box :after{
content: " ";
display: table;
clear: both;

}

/*
.box p{

    width: inherit;
}*/


table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}






}
